@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$font-heading: 'Roboto Slab', serif;
$font-body: 'Open Sans', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	font-weight: 500;
}

p,
input,
button,
li,
a {
	font-family: $font-body;
	font-weight: 600;
	letter-spacing: -0.01rem;
}

html,
body,
#root {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.app-container {
	display: flex;
	flex-direction: column;

	height: 100%;
	max-height: 100%;
	width: 100%;

	.header {
		height: 90px;
		margin-left: 30px;
		display: flex;
		justify-content: center;
		align-items: center;

		h1 {
			margin: 0;
			font-size: 1.7rem;
			font-weight: 600;
		}

		p {
			margin: 5px 0 0 50px;
		}
	}

	.contents {
		display: flex;
		flex-direction: row;
		height: calc(100% - 90px);
	}
}

.summary-panel {
	display: flex;
	flex-direction: column;
	padding: 30px 30px 30px 30px;
	margin: 0 10px 10px 10px;

	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 10px;

	.dropdown {
		width: 100%;
		font-family: $font-body;
		font-weight: 600;
	}

	.details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 80px;
		flex: 1;
		width: 300px;

		p {
			color: white;
		}

		h2 {
			display: block;
			background-color: white;
			margin: 0;
			padding: 10px;
			border-radius: 10px;
		}

		.percent {
			margin-top: 10px;
			font-size: 1.5rem;
		}
	}
}

.voter-data-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	margin: 0px 10px 10px 0;

	.voter-data-headers,
	.voter-data-row-item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}

	.voter-data-headers {
		background-color: rgba(0, 0, 0, 0.9);
		border-radius: 10px;
		margin-right: 20px;

		h3 {
			color: white;
			font-size: 1rem;
		}
	}

	.voter-data-row-item:nth-child(2n) {
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 10px;
	}

	.col-element {
		width: 50px;
	}

	.voter-data-list {
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		max-height: 100%;
	}
}